/**
 * [67one-blog constant.scss]
 * @con 网站常量设置
 * @aim 统一常量
 * @author 时光笑我温暖如阳
 * @time 2016/11/04 20:36
 */

$mainWidth: 800px;
$family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;

//网站导航
$header:(
    bg:#fff,
    borBom:#F5F5F5,
    search:#e5e5e5,
    searchHover:#A0DAD0,
    nav:#545454,
    navHover: #A0DAD0,
);

//首页banner
$banner:(
    rotate:#fff,
    titleBg:rgba(0, 0, 0, 0.66),
    title: #EAEADF,
    iconBorder:rgba(255, 255, 255, 0.4),
    iconBg:#fff
);

//首页
$index:(
    noticeBg:#FBFBFB,
    notice:#505050,
    noticeIcon:#A0DAD0,
    bannerBg:#2B394E,
    banner:#fff,
    h3:#2B394E,
    h3Bom:#ECECEC,
    picIcon:#fff,
    picIconBg:#BBE2DB,
    picBorder:#DADADA,
    commentBoderTop:#ddd,
    comment:#B3B3B3,
    artTitle:#504E4E,
    artTitleHover:#8fd0cc,
    artTime:#989898,
    artHot:#FF3B00,
    artText:#232323,
    artMore:#FFBE5B,
    artMoreHover:#ddd,
    artHr:#EFEFEF,
);

//footer
$footer:(
    bg:#fff,
    borderTop:#F7F7F7,
    footer:#B9B9B9,
);

//归档
$archive:(
    h1:#676767,
    h1BorBom:#F1F1F1,
    listBorLeft:#d8b0a1,
    clockBg:#A0DAD0,
    clock:#fff,
    time:#A0DAD0,
    timeHover:#ddd,
    circle:#A0DAD0,
    titleBg:#F5F5F5,
    title:#7D7D7D,
    rightTime:#CACACA
);

//邻居
$links:(
    h2:#6D6D6D,
    borLeft:#A0DAD0,
    linkLiBor:#ECECEC,
    text:#949494,
    textBorTop:#ddd,
    titleHover:#fff,
    textHover:#fff,
    textHoverBorTop:#fff
);

//列表
$list:(
    title:#676767,
    litTitle:#9C9C9C,
    titleBorRight:#ddd,
    liBor:#F1F1F1,
    liBg: #fff,
    liColor:#000,
    liH3:#6D6D6C,
    liP:#B7B7B7,
);

//加载更多
$loadMore:(
    title:#ADADAD,
    titleHover:#A0DAD0,
    border:#D6D6D6,
    borderHover:#A0DAD0
);











// $colors: (
//     main: #2B394E,
//     font: (
//         nav: #545454,
//         navHover: #A0DAD0,
//         banner: #EAEADF,
//         notice: #505050,
//         main: #757575
//     ),
//     artTitle:#504E4E,
//     artTitleHover:#8fd0cc,
//     artTime:#989898,
//     artText:#232323,
//     artPic:#BBE2DB,
//     artMore:#FFBE5B,
//     artMoreHover:#ddd,
//     pageHover:#A0DAD0,
//     mainBaner:#BBE2DB,
//     dirver: #eeeeee,
//    archiveTimeTitle: #A0DAD0,
//    archiveTimeTitleHover: #ddd,
//
//     footer:#B9B9B9
// );
//
//
//  $font-size:(
//      h1:20px,
//      h2:18px,
//      h3:16px,
//      h4:14px,
//      h5:13px,
//      h6:12px,
//  );
