/**
 * [67one-blog init.scss]
 * @con base+common.scss
 * @aim 基类、公共样式
 * @author 时光笑我温暖如阳
 * @time 2016/11/04 20:34
 */
@charset "UTF-8";
@import '../css/reset';
@import "./constant";
@import "./function";


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #B9B9B9;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #B9B9B9;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2B394E;
}

::selection {
    background: #A0DAD0;
    color: #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.view{
    padding-top: 100px;
}

.page{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin: 80px 0;
    @include userSelect(none);
    a{
        padding: 13px 35px;
        border: 1px solid map-get($loadMore,border);
        border-radius: 50px;
        color: map-get($loadMore,title);
        cursor: pointer;
        &:hover{
            border: 1px solid map-get($loadMore,borderHover);
            color: map-get($loadMore,titleHover);
        }
        &.loadingMore{
            background: url('./assets/imgs/postload.gif');
            background-position: center;
            background-repeat: no-repeat;
            color: #555;
            border: none;
            &:hover{
                border:none;
            }
        }
    }
}
