$mainWidth = 800px

$family = miranafont "Hiragino Sans GB" STXihei "Microsoft YaHei" SimSun sans-serif

//网站导航
$header-bg = #fff
$header-borBom = #F5F5F5
$header-search = #e5e5e5
$header-searchHover = #A0DAD0
$header-nav = #545454
$header-navHover = #A0DAD0

//首页banner
$banner-rotate = #fff
$banner-titleBg = rgba(0  0  0  0.66)
$banner-title = #EAEADF
$banner-iconBorder = rgba(255  255  255  0.4)
$banner-iconBg = #fff

//首页
$index-noticeBg = #FBFBFB
$index-notice = #505050
$index-noticeIcon = #A0DAD0
$index-bannerBg = #2B394E
$index-banner = #fff
$index-h3 = #2B394E
$index-h3Bom = #ECECEC
$index-picIcon = #fff
$index-picIconBg = #BBE2DB
$index-picBorder = #DADADA
$index-commentBoderTop = #ddd
$index-comment = #B3B3B3
$index-artTitle = #504E4E
$index-artTitleHover = #8fd0cc
$index-artTime = #989898
$index-artHot = #FF3B00
$index-artText = #232323
$index-artMore = #FFBE5B
$index-artMoreHover = #ddd
$index-artHr = #EFEFEF

//footer

$footer-bg = #fff
$footer-borderTop = #F7F7F7
$footer-footer = #B9B9B9


//归档
$archive-h1 = #676767
$archive-h1BorBom = #F1F1F1
$archive-listBorLeft = #d8b0a1
$archive-clockBg = #A0DAD0
$archive-clock = #fff
$archive-time = #A0DAD0
$archive-timeHover = #ddd
$archive-circle = #A0DAD0
$archive-titleBg = #F5F5F5
$archive-title = #7D7D7D
$archive-rightTime = #CACACA


//邻居
$links-h2 = #6D6D6D
$links-borLeft = #A0DAD0
$links-linkLiBor = #ECECEC
$links-text = #949494
$links-textBorTop = #ddd
$links-titleHover = #fff
$links-textHover = #fff
$links-textHoverBorTop = #fff


//列表
$list-title = #676767
$list-litTitle = #9C9C9C
$list-titleBorRight = #ddd
$list-liBor = #F1F1F1
$list-liBg =  #fff
$list-liColor = #000
$list-liH3 = #6D6D6C
$list-liP = #B7B7B7


//加载更多
$loadMore-title = #ADADAD
$loadMore-titleHover = #A0DAD0
$loadMore-border = #D6D6D6
$loadMore-borderHover = #A0DAD0
