vendors = webkit moz o ms official
support-for-ie ?= true

-pos(type, args)
    i = 0
    position: unquote(type)
    {args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
    {args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

absolute()
    -pos('absolute', arguments)

fixed()
    -pos('fixed', arguments)

relative()
    -pos('relative', arguments)

bower(name, val)
    for vendor in vendors
        if vendor == official
            {name}: val
        else
            -{vendor}-{name}: val

border-radius()
    bower(border-radius, arguments)

transition()
    bower(transition, arguments)

transform()
    bower(transform, arguments)

box-shadow()
    bower(box-shadow, arguments)

user-select()
    bower(user-select, arguments)

background-size()
    bower(background-size, arguments)

box-sizing()
    bower(box-sizing, border-box)

support-for-ie ?= true

opacity(n)
    opacity n
    if support-for-ie
        filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

imgVHM()
    text-align: center
    font-size: 0
    &:after
        display:inline-block
        width:0
        height:100%
        content:"center"
        vertical-align:middle
    img
        vertical-align: middle

clink(normal, hover)
    &:link
    &:active
    &:visited
       color: normal
    &:hover
       color: hover

clearfix()
    *zoom:1
    &:after
        content: "\0020"
        display: block
        clear: both

linHeight()
    height: arguments
    line-height: arguments

dib()
    display: inline-block
    *display: inline
    *zoom: 1

db()
    display: block

dn()
    display: none
